name: Create and publish a Docker image to GitHub Packages

on:
  push:
    branches: [ "release" ]
  pull_request:
    branches: [ "release" ]

env:
  REGISTRY: ghcr.io

jobs:

  build-and-push-image:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3
        
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
           
    - name: Build the QRCodeViewer Docker image
      run: |
         docker build --file ./static/Dockerfile --tag ghcr.io/ucl-casa-ce/sjg/ucl-seats-qrcode-viewer:latest .
         docker push ghcr.io/ucl-casa-ce/sjg/ucl-seats-qrcode-viewer:latest
    

